<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>VAMS Checklist</title>
  <link rel="icon" href="https://afiqrostam.github.io/vams-checklist/icon.png" size="64x64" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <style>
    .veolia-logo {
      max-width: 100px
    }

    .mw-300px {
      min-width: 300px
    }
  </style>
</head>

<body id="main_body" class="bg-light" style="display:none!important">
  <div id="main_nav" class="container-fluid bg-secondary d-none bg-opacity-25 p-2  hstack gap-2 fixed-top">
    <div class="ms-auto dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-menu-button-wide"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item disabled d-none" href="#" id="openjobmodalbutton" data-bs-toggle="modal"
            data-bs-target="#newPage">
            <span class="hstack gap-2">
              Open Faults&nbsp;
              <span class="badge text-bg-dark" id="openjobmodalcount">&nbsp;</span>
            </span>
          </a>
        </li>
        <li>
          <a class="dropdown-item disabled d-none" href="#" id="pastdvrmodalbutton" data-bs-toggle="modal"
            data-bs-target="#newPage">
            <span class="hstack gap-2">
              Past DVR&nbsp;
              <span class="badge text-bg-dark" id="pastdvrmodalcount">&nbsp;</span>
            </span>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <button class="dropdown-item " id="main_logout_btn">
            <span class="hstack gap-2"><i class="bi bi-door-closed-fill"></i>logout</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div id="login" class="hstack gap-2 vh-100 vw-100">
    <div v-show="!loader"class="m-auto">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div v-show="loader" class="m-auto">
      <form v-if="new_login" class="card-body p-2">
        <div class="vstack text-center gap-1 mb-5">
          <img src="https://afiqrostam.github.io/vams-checklist/icon.png" class="mx-auto mb-2 veolia-logo">
          <p class="mb-2 font-monospace lead">Daily Vehicle Report<br>(DVR)</p>
        </div>
        <div class="my-3">
          <input type="email" class="form-control text-center mw-300px" v-model="email" name="email" id="email"
            placeholder="Enter your VAMS login to begin">
        </div>
        <div class="hstack mt-2"><button type="button" @click="update" class="m-auto btn btn-primary">login</button>
        </div>
      </form>
      <div v-else class="card-body p-2">
        <div v-if="loading" class="spinner-grow">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div v-else v-if="!logout">
          <div class="my-3">
            <p type="email" class="text-center">{{email}}</p>
          </div>
          <div class="hstack mt-2">
            <button type="button" @click="auth" class="m-auto btn btn-primary">Authorize</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="alert" class="container fixed-bottom p-1">
    <div :id="data.id" v-for="data in datas" :key="data.id"
      v-bind="{ 'class': 'lh-sm my-1 alert text-light opacity-85 alert-dismissible fade show pre-line '+data.classfix }">
      {{ data.text }}
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"
        @click="remove(data.id)"></button>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.prod.js"></script>
  <script src="assets/login_vue.js"></script>
  <script src="assets/module_vue.js"></script>
  <script src="assets/utils.js"></script>
  <script>

    var param;
    var login_gas = 'https://script.google.com/macros/s/AKfycbyxS-QxsOYTVyJXUh1R7i38sjxk1R4L8uMqfU5S2Yfc-u6HkTV_u1R7ZuWeIPcR7DvvgQ/exec';
    var login = Vue.createApp(login_).mount('#login');
    var alert = Vue.createApp(alert_).mount('#alert');
    var store;
    var headUrl = origin + window.location.pathname;

    (function () {
      var body = document.getElementById('main_body');
      body.style.display = null;

      store = window.localStorage.getItem('access');
      param = getAllUrlParams();
      param['tenant'] = 'VEOLIA1_TST';
      param['logout'] = 'false';
      param['url'] = headUrl;

      if (store !== null) {
        store = JSON.parse(store);
        if (new Date(store['expiration'] * 1000) > new Date()) {
          delete store['expiration'];
          if (store.email !== param.email || store.tenant !== param.tenant) {
            window.location.replace(updateUrl(headUrl, store))
          }
        }
        else { window.localStorage.clear() }
      }

      if (param.email !== undefined && param.email !== null) {
        login.addNewLogin(false)
          .addUserId(param.email);

        if (store == null || store == undefined) {
          var fetch_status = new Request(updateUrl(login_gas, param), {
            redirect: "follow",
            method: 'POST',
            headers: { "Content-Type": "text/plain;charset=utf-8" },
          });
          fetch(fetch_status)
            .then(function (response) { return response.json() })
            .then(function (data) {
              login.updateLoading(false)
              if (!data.status && data.text.tokenUrl !== undefined) {
                login.updateTokenUrl(data.text.tokenUrl).updateLogout(false);
              }
              else {
                if (data.status) {
                  var access = JSON.parse(JSON.stringify(param));
                  access['expiration'] = data.text.expiresAt;
                  window.localStorage.setItem('access', JSON.stringify(access));
                  login.updateLogout(true);
                }
              }
              login.loader = true;
            })
        }
        else { login.updateLoading(false).updateLogout(true); login.loader = true }
      }
      else { login.loader = true }
    })();
  </script>
</body>

</html>