<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Veolia DVR</title>
  <link rel="icon" href="https://afiqrostam.github.io/vams-checklist/icon.png" size="64x64" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <style>
    .veolia-logo {
      max-width: 100px
    }

    .nav-icon {
      max-width: 24px
    }

    .mw-300px {
      min-width: 300px
    }
  </style>
</head>

<body id="main_body" class="bg-light" style="display:none!important">
  <div class="modal fade" id="search" tabindex="-1" aria-labelledby="search" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Equipment Search</h1>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <input type="text" class="form-control" @input="getList" v-model="search" placeholder="search here..">
          </div>
          <div v-if="org_list.length > 1" class="mb-3">
            <template v-for="(item,index) in org_list">
              <input type="checkbox" class="btn-check" @change="getList" :value="item" v-model="org" :id="item"
                autocomplete="off" checked="">
              <label class="btn btn-sm btn-secondary me-1" :for="item">{{item}}</label>
            </template>
          </div>
          <div class="list-group">
            <button v-if="filtered_list.length == 0" class="list-group-item list-group-item-action disable"
              type="button">
              equipment not found
            </button>
            <button v-for="(item,index) in filtered_list" data-bs-dismiss="modal"
              class="list-group-item list-group-item-action hstack gap-2" @click="process(item)" type="button">
              {{item.text}}
              <span class="badge bg-dark bg-opacity-50 ms-auto d-none d-sm-block">{{ item.obj_org }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="main_nav" class="container-fluid bg-secondary d-none bg-opacity-25 p-2  hstack gap-2 fixed-top">
    <div id="user_info" class="flex-fill small hstack gap-2">
      <img src="https://afiqrostam.github.io/vams-checklist/icon.png" class="d-none d-sm-block nav-icon">
      <i class="d-none d-sm-block">{{tenant}}/{{userid}}/{{org}}</i>
      <i class="ms-auto fs-6">Welcome back, {{name}}</i>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-menu-button-wide"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item disabled" href="#" id="new_dvr_btn" data-bs-toggle="modal" data-bs-target="#search">
            <span class="hstack gap-2"><i class="bi bi-file-earmark-plus-fill"></i>new DVR</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item disabled d-none" href="#" id="pastdvrmodalbutton" data-bs-toggle="modal"
            data-bs-target="#newPage">
            <span class="hstack gap-2">
              Past DVR&nbsp;
              <span class="badge text-bg-dark" id="pastdvrmodalcount">&nbsp;</span>
            </span>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <button class="dropdown-item " id="main_logout_btn">
            <span class="hstack gap-2"><i class="bi bi-door-closed-fill"></i>logout</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div id="login" class="vh-100 vw-100 d-flex">
    <template v-if="!logout">
      <div v-if="!loader" class="loader m-auto">
        <div class="spinner-grow" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div v-else class="m-auto">
        <div v-if="new_login" class="card-body p-2">
          <div class="vstack text-center gap-1 mb-5">
            <img src="https://afiqrostam.github.io/vams-checklist/icon.png" class="mx-auto mb-2 veolia-logo">
            <p class="mb-2 font-monospace lead">Daily Vehicle Report<br>(DVR)</p>
          </div>
          <div class="my-3">
            <input type="email" class="form-control text-center mw-300px" v-model="email" name="email" id="email"
              placeholder="Enter your VAMS login to begin">
          </div>
          <div class="hstack mt-2"><button type="button" @click="update" class="m-auto btn btn-primary">login</button>
          </div>
        </div>
        <div v-else class="card-body p-2">
          <div v-if="loading" class="vstack loading gap-2">
            <div class=" m-auto spinner-grow"></div>
            <p class="small text-center" v-html="updateHTML(auth_message)"></p>
          </div>
          <template v-else>
            <template v-if="!logout">
              <div class="vstack text-center gap-2">
                <img src="https://afiqrostam.github.io/vams-checklist/icon.png" class="mx-auto mb-2 veolia-logo">
                <p class="mb-2 font-monospace lead">Daily Vehicle Report<br>(DVR)</p>
              </div>
              <div class="mb-2">
                <p type="email" class="text-center">{{email}}<button type="button" @click="reload"
                    class="ms-1 btn btn-secondary btn-sm">not?</button></p>
              </div>
              <div class="vstack text-center my-2">
                <p class="small">Kindly open link in <span class="fw-bolder text-danger">incognito/private
                    window</span>.
                  link will expires in <span class="fw-bolder text-primary"
                    v-html="String(time).padStart(2, '0')"></span>s.
                  <br><span> Page will attempt to fetch authentication after the link expires.</span>
                </p>
                <a :href="tokenUrl" target="_blank"
                  :class="[tokenUrl == ''? 'm-auto col-4 btn btn-primary disabled' : 'm-auto col-4 btn btn-primary']">Authorize</a>
              </div>
            </template>
          </template>
        </div>
      </div>
    </template>
  </div>
  <div id="loader" class="vh-100 vw-100 d-flex d-none">
    <div v-if="loader" class="m-auto">
      <div class="spinner-grow" role="status"><span class="visually-hidden">Loading...</span> </div>
    </div>
  </div>
  <div id="header" class="container-fluid py-5 d-none"></div>
  <div id="unfinished" class="col-lg-8 container-lg d-none">
    <div class="display-6 mb-3 border-dark border-2 rounded-end d-block w-100 border-bottom">Open DVR</div>
    <div class="row g-2">
      <div class="col-6 col-sm-4 col-md-3">
        <div class="card border-secondary">
          <div class="card-header ">
          </div>
          <div class="card-body ">
            <p class="fw-bolder">10-MAR-2023</p>
            <p class="text-break">25242_TruckFL_Volvo_FM9_8x4 (CD59FP)</p>
            <a href="#" class="btn btn-sm w-100 btn-outline-secondary">Post-Trip</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <div class="card border-secondary">
          <div class="card-header ">
          </div>
          <div class="card-body ">
            <p class="fw-bolder">10-MAR-2023</p>
            <p class="text-break">25242_TruckFL_Volvo_FM9_8x4 (CD59FP)</p>
            <a href="#" class="btn btn-sm w-100 btn-outline-secondary">Post-Trip</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <div class="card border-info">
          <div class="card-header text-bg-info bg-opacity-50">
          </div>
          <div class="card-body ">
            <p class="card-text placeholder-glow text-info"><span class="placeholder col-7"></span></p>
            <p class="card-text placeholder-glow text-info">
              <span class="placeholder col-6"></span>
              <span class="placeholder col-3"></span>
              <span class="placeholder col-1"></span>
              <span class="placeholder col-8"></span>
            </p>
            <button class="btn btn-sm w-100 btn-outline-info" type="button" data-bs-toggle="modal"
              data-bs-target="#search">New DVR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="alert" class="container-fluid fixed-top vstack gap-2 mt-5">
    <div :id="data.id" v-for="data in datas" :key="data.id"
      v-bind="{ 'class': 'alert alert-dismissible fade show pre-line mx-auto col-12 col-xl-6 bg-opacity-25 '+data.classfix }">
      {{ data.text }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        @click="remove(data.id)"></button>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.prod.js"></script>
  <script src="assets/login_vue.js"></script>
  <script src="assets/module_vue.js"></script>
  <script src="assets/utils.js"></script>
  <script>

    var param;
    var login_gas = 'https://script.google.com/macros/s/AKfycbyxS-QxsOYTVyJXUh1R7i38sjxk1R4L8uMqfU5S2Yfc-u6HkTV_u1R7ZuWeIPcR7DvvgQ/exec';
    var login = Vue.createApp(login_).mount('#login');
    var alert = Vue.createApp(alert_).mount('#alert');
    var user_nav = Vue.createApp(user_).mount('#user_info');
    var loader = Vue.createApp(loader_).mount('#loader');
    var search = Vue.createApp(search_).mount('#search');
    var user_details = {};
    var store;
    var headUrl = origin + window.location.pathname;
    var equipment_list = [];

    (function () {
      var body = document.getElementById('main_body');
      body.style.display = null;

      store = window.localStorage.getItem('access');
      param = getAllUrlParams();
      param['tenant'] = 'VEOLIA1_TST';
      param['logout'] = 'false';

      if (store !== null) {
        store = JSON.parse(store);
        if (new Date(store['exp'] * 1000) > new Date()) {
          var expired = new Date(store['exp'] * 1000);
          var left = (expired - new Date()) - 420000;
          var logout = (expired - new Date()) - 12000;
          if (store.email !== param.email || store.tenant !== param.tenant
            || store.userid !== param.userid || store.org !== param.org
            || store.name !== param.name || store.sessionid !== param.sessionid) {
            delete store['exp'];
            delete store['org_list'];
            window.location.replace(updateUrl(headUrl, store))
          }
          setTimeout(function () {
            alert.add({
              text: '5 mins left before session expires. relogin to continue',
              type: 'info'
            })
          }, left);
          setTimeout(function () { login.log_out() }, logout);
        }
        else {
          window.localStorage.clear();
          window.location.replace(encodeURI(headUrl));
        }
      }

      if (param.email === undefined || param.email === null) { login.requestNewLogin() }
      else {
        login.addNewLogin(param.email);

        if (store !== null) {
          Object.keys(store).forEach(
            function (e) {
              user_details[e] = store[e];
              user_nav[e] = store[e];
            });
          login.loadSessionData().updateLogout(true);
          loader.startLoader();
          var fetch_data = new Request(login_gas + '?process=get_equipment_details&tenant=' + param.tenant + '&userid=' + param.userid + '&org=' + param.org + '&query=', {
            redirect: "follow",
            method: 'POST',
            headers: { "Content-Type": "text/plain;charset=utf-8" },
          });
          fetch(fetch_data)
            .then(function (response) { return response.json() })
            .then(function (data) {
              if (data.status) {
                equipment_list = data.text;
                search.list = equipment_list;
                search.org_list = user_details.org_list;
                search.org.push(user_details.org);
                document.getElementById('new_dvr_btn').classList.remove('disabled');
                loader.stopLoader();
              }
            });
        }
        else {
          var fetch_status = new Request(updateUrl(login_gas, param), {
            redirect: "follow",
            method: 'POST',
            headers: { "Content-Type": "text/plain;charset=utf-8" },
          });
          fetch(fetch_status)
            .then(function (response) { return response.json() })
            .then(function (data) {
              if (data.status) {
                var access = JSON.parse(JSON.stringify(param));
                access['exp'] = data.text.expiresAt;
                access['userid'] = data.text.usr_code;
                param['userid'] = data.text.usr_code;
                access['org'] = data.text.uog_org;
                param['org'] = data.text.uog_org;
                access['sessionid'] = data.text.sessionid;
                param['sessionid'] = data.text.sessionid;
                access['name'] = data.text.usr_desc;
                access['org_list'] = data.text.uog_org_list.split('; ')
                param['name'] = data.text.usr_desc;
                window.localStorage.setItem('access', JSON.stringify(access));
                window.location.replace(updateUrl(headUrl, param))
              }
              else {
                if (data.text.tokenUrl !== undefined) {
                  if (param['sessionid'] === undefined && data.text.sessionid !== undefined) {
                    param['sessionid'] = data.text['sessionid'];
                    param['email'] = data.text['email'];
                    param['tenant'] = data.text['tenant'];
                    window.location.replace(updateUrl(headUrl, param));
                  }
                  else { login.updateTokenUrl(data.text.tokenUrl).start().updateLogout(false) }
                  login.loader = true;
                }
                else {
                  alert.add({
                    text: data.text,
                    type: 'error'
                  });
                  login.auth_message = 'redirecting..';
                  login.loader = true;
                  setTimeout(function () { window.location.replace(headUrl) }, 3000);
                }
              }
            })
        }
      }
    })();
  </script>
</body>

</html>